# 数据库
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mars
DB_USERNAME=root
DB_PASSWORD=root

# Redis
REDIS_PASSWORD=123456

# Druid 监控
DRUID_USERNAME=admin
DRUID_PASSWORD=mars666

# SQL 日志页面
SQL_LOG_USERNAME=admin
SQL_LOG_PASSWORD=mars666

# 微信小程序
WECHAT_MINI_APPID=
WECHAT_MINI_SECRET=
